<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="icon" href="<%- logo %>">
    <link rel="stylesheet" href="./style/index.css">
    <title>Chat Sea</title>
</head>
<body>

    
    <section id="home" class="pycon2018-intro">
            <canvas id="canvas1" class="hidden-sm hidden-xs" width="1263" height="100%"></canvas>
                <nav>
        <img src="<%- logo %>" alt="">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/commands">Commands</a></li>
            <li><a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=1067501163420848238&permissions=2112&scope=bot">Invite</a></li>
            <li><a target="_blank" href="https://discord.gg/chatsea">Support</a></li>
        </ul>
    </nav>
    
    <hr>
    
    <div class="commands">

        <ul>
            <li>
                /set-channel
                <p>Set Channel for bot</p>
            </li>
            <li>
                /set-role
                <p>To set role</p>
            </li>
            <li>
                /set-language
                <p>Set bot language</p>
            </li>
            <li>
                /chat
                <p>Set </p>
            </li>
            <li>
                /feedback
                <p>Send bot feedback</p>
            </li>
            <li>
                /suggestion
                <p>Send suggestion for bot</p>
            </li>
            <li>
                /support
                <p>Get Bot Support</p>
            </li>
            <li>
                /help
                <p>List Bot Commands</p>
            </li>
            <li>
                /invite
                <p>Invite Bot Link</p>
            </li>
            <li>
                /remove-channel
                <p>Remove Seted Channel</p>
            </li>
        </ul>

    </div>
    
    </section>

    <!-- <div class="custom-shape-divider-bottom-1682465167">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>
    </div> -->

    <style>
        .custom-shape-divider-bottom-1682465167 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }
        
        .custom-shape-divider-bottom-1682465167 svg {
            position: relative;
            display: block;
            width: calc(300% + 1.3px);
            height: 333px;
        }
        
        .custom-shape-divider-bottom-1682465167 .shape-fill {
            fill: #90EA72;
        }
    </style>

    <script src="./js/index.js"></script>
</body>
</html>